<nav>
    <ul class='main-menu'>
        <li><a href='/'>HOME</a></li>
        <li class='update'>
            <a href='#'>UPDATE</a>
            <ul class='sub-menu'>
                <li><a href="/updateAccount">update account</a></li>
                <li><a href='/updateBox'>update box</a></li>
            </ul>
        </li>
        <li><a href='/delete'>DELETE</a></li>
        <li><a href='/add'>ADD</a></li>
    </ul>    
</nav>      
