:root{
    /* Color */
    --grey-color: rgb(56, 55, 55);

    --padding: 20px;
    /* font size */
    --font-large : 30px;
}
*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

#container{
    display: inline-flex;
    flex-direction: column;
    width: 1000px;  
    height: 1000px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    font-size: 20px;
}


/*navigation bar*/
nav {
    width: 100%;
    position: relative;
}
nav > .main-menu{
    display: flex;
}
nav > .main-menu > li{
    width: 25%;
    height: 30px;
    font-size: var(--font-large);
}
nav .sub-menu{
    display: none;
}

nav > ul > li:hover ul{
    display: block;
}
/* title */
.title{
    margin-bottom: 15px;
    z-index: 0;
}
/* section */
section{
    margin-top: 10px;
}
section#home li{
    color: rgb(50, 50, 77);
    margin: 11px;
}
section#delete ul{
    display: inline;
}
section#delete form{
    margin:10px;
}
section#delete input{
    position: relative;
    font-size: 21px;
    top: -1px;
}

section .box{
    display: inline-block;
    font-size:12px;
    width:200px;
    height:150px;
    padding-top:30px;
    color: white;
    background-color:rgb(56, 58, 58); 
    margin: 14px;   

    transition: all 0.3s;
}
section .box .formBox{
    float: left;
    margin-top: 3px;
}
section > .box:hover{
    transform:scale(1.3);
}
section#add > li > ul{
    margin: 11px;
}
