*{
    margin:0; padding:0;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
}

#container{
    display: inline-flex;
    flex-direction: column;
    width: 1000px;  
    border-left: 1px black solid;
    border-right: 1px black solid;
    font-size: 20px;
}


/*navigation bar*/
.main-menu{
    width: 100%;
}
.main-menu > li {
    width:25%;
    float: left;
}
.main-menu > li > a {
    color: white;
    background-color: rgb(53, 51, 51);
    display: block;
    text-decoration: none;
    padding: 13px;

    border-bottom: 4px solid coral;
}
.sub-menu{
    display: none;
    background-color: rgb(53, 51, 51);
    position: absolute;
    z-index:1;
    width: 250px;
}
.sub-menu > li > a{
    display:block;
    color: white;
    border-top: 1px solid white;
    text-decoration: none;
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.2);
}
.main-menu > li:hover .sub-menu{
    display: block
}


/* title */
.title{
    margin-top: 45px;
    margin-bottom: 15px;
}
/* section */
section{
    margin-top: 10px;
}
section#home li{
    color: rgb(50, 50, 77);
    margin: 11px;
}
section#delete ul{
    display: inline;
}
section#delete form{
    margin:10px;
}
section#delete input{
    position: relative;
    font-size: 21px;
    top: -1px;
}

section .box{
    display: inline-block;
    font-size:12px;
    width:100px;
    height:100px;
    padding-top:30px;
    color: white;
    background-color:rgb(56, 58, 58); 
    margin: 11px;   
}

section#add > li > ul{
    margin: 11px;
}